<div class="layoutPage">
    <h1 class="layoutPage__title">Стоимость авиабилетов</h1>

    <div class="layoutContent__row">
        <div class="layoutContent__rowItem">
            <ul class="priceList">
                {{#each categories}}
                    <li class="priceList__item">
                        <h3 class="priceList__itemHeader">{{ categoryName }}</h3>
                        <span class="priceList__itemCount">{{ count }}</span>
                        <span class="priceRub priceRub_type_mid">
                            <span class="priceRub__el">{{ priceStr }}</span><span class="priceRub__rub">p</span>
                        </span>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="layoutContent__rowItem">
            <ul class="priceList">
                {{#each taxes}}
                    <li class="priceList__item">
                        <h3 class="priceList__itemHeader">{{ taxName }}</h3>
                        <span class="priceRub priceRub_type_mid">
                            <span class="priceRub__el">{{ taxStr }}</span><span class="priceRub__rub">p</span>
                        </span>
                    </li>
                {{/each}}
            </ul>
        </div>
        <ul class="priceList">
            <li class="priceList__item">
                <h3 class="priceList__itemHeader priceList__itemHeader_type_big">{{ priceName }}</h3>
                <span class="priceRub priceRub_type_big">
                    <span class="priceRub__el">{{ priceStr }}</span><span class="priceRub__rub">p</span>
                </span>
                <img class="priceList__itemIcon priceList__itemIcon_type_ticket" src="/mobile/static/blocks/priceList/ticket-icon.jpg" />
            </li>
        </ul>
    </div>
</div>
