{{#if_eq payment.method "PLASTIC_CARD"}}

    {{#if_eq payment.statusCode "waiting_for_pay"}}
        <li class="contentList__item contentList__item_type_pay">
            <div class="contentList__itemContent">
                <span class="contentList__itemContentLabel">{{ payment.statusCodeText }}</span>
                    <span class="contentList__itemContentValue contentList__itemContentValue_type_big">
                        <span class="priceRub priceRub_type_big priceRub_icon_{{ payment.paymentType }}">
                            <span class="priceRub__el">{{ payment.packTotalPrice }}</span><span class="priceRub__rub">p</span>
                        </span>
                    </span>
                    <span class="contentList__itemContentButton">
                        <button class="bigButton plasticCardPaymentMethod" id="payWithCreditCard" data-method="{{ payment.method }}">Оплатить картой</button>
                    </span>
                </div>
            <div class="contentList__itemContent_type_price"></div>
        </li>
    {{/if_eq}}

    <li class="contentList__title">Другие способы оплаты <sup id="otherPaymentWaysAsterisk">*</sup></li>

{{else}}

    <li class="contentList__item">
        {{#if payment.link }}
            <a  class="contentList__itemContent contentList__itemContent_type_slotLink" href="{{payment.link}}">
                <span class="contentList__itemContentLabel contentList__itemContentLabel_payment contentList__itemContentLabel_type_{{ payment.name.class }}" data-method="{{ payment.method }}">{{ payment.name.value }}</span>
            </a>
        {{else}}
            <b class="contentList__itemContent contentList__itemContent_type_link otherPaymentMethod">
                <span class="contentList__itemContentLabel contentList__itemContentLabel_payment contentList__itemContentLabel_type_{{ payment.name.class }}" data-method="{{ payment.method }}">{{ payment.name.value }}</span>
            </b>
        {{/if}}
    </li>

{{/if_eq}}
