<div class="layoutContent">
    {{#if visible}}
        <div class="layoutContent__header">
            <h2 class="layoutContent__headerText">Договоры и условия</h2>
        </div>
        <div class="contentList__collection">
            <ul class="contentList">
                {{#each items}}
                    <li class="contentList__item">
                        <a href="#{{href}}" class="contentList__itemContent contentList__itemContent_type_slotLink">
                            <span class="contentList__itemContentLabel">{{name}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
</div>

