<div class="layoutContent">
    {{#if isActive}}
        <form class="orderConfirmation">
            <label class="orderConfirmation__checkBox" id="confirmationWrapper">
                <input class="orderConfirmation__checkBoxInput" type="checkbox" id="confirmationCheckbox">
                <span class="orderConfirmation__checkBoxText">{{{ labelText }}}</span>
            </label>

            <div class="orderConfirmation__button">
                <button id="confirmationButton" class="bigButton">Продолжить бронирование</button>
            </div>
        </form>
    {{/if}}
</div>
