<div>
    {{#if visible}}
        <div class="layoutContent__row layoutContent__row_type_paymentNote">
            <p class="layoutContent__subText">
                <sup>*</sup>Оплата Евросетью и&nbsp;QIWI недоступна для заказов 
                дороже 14&nbsp;999&nbsp;рублей. Воспользуйтесь другим способом 
                оплаты или, при возможности, сделайте несколько 
                отдельных заказов таким образом, чтобы стоимость 
                каждого не&nbsp;превышала указанного ограничения.</p>
        </div>
    {{/if}}
</div>






