<div class="layoutPage">
    <div class="layoutPage__title">Дополнительные услуги</div>

    <div class="layoutContent__row layoutContent__row_type_nobg">
        <div class="layoutContent__rowItem insurancesListWrapper"></div>
        <div class="layoutContent__rowItem aeroexpressWrapper {{#if insurances }}layoutContent__rowItem_border{{/if}}"></div>

        {{#if price}}
            <ul class="priceList">
                <li class="priceList__item">
                    <h3 class="priceList__itemHeader priceList__itemHeader_type_big">стоимость дополнительных услуг</h3>
                    <span class="priceRub priceRub_type_big">
                        <span class="priceRub__el additionalTotalPrice">{{price}}</span><span class="priceRub__rub">p</span>
                    </span>
                </li>
            </ul>
        {{/if}}
    </div>
</div>
