<div class="layoutContent__wrapperPage">

    <div class="pageHeader">
        <div class="pageHeader__segments"></div>
        <div class="pageHeader__passengers"></div>
    </div>

    <div class="notificator"><!-- @insert notificator --></div>
    <div class="confirmation"><!-- @insert confirmation --></div>
    <div class="timelimit"><!-- @insert timelimit --></div>
    <div class="layoutContent__row orderInfoContent"><!-- @insert orderInfoContent --></div>
    <div class="payment"><!-- @insert payment --></div> 
    <div class="documents"><!-- @insert trip documents--></div> 
    <div class="layoutContent__row contracts"><!-- @insert contracts and tariff conditions of use --></div>
    <div class="cancel"><!-- @insert cancel button --></div>
    <div class="refund"><!-- @insert refund button --></div>
    <div class="paymentNote"><!-- @insert paymentNote --></div> 
    <div class="footerMenuButtons"><!-- @insert footer --></div>
</div>
