<div>
    {{#if canShow}}
        <div class="layoutContent__row layoutContent__row_type_refund">
            <div class="layoutContent">

                <ul class="contentList">
                    <li class="contentList__item">
                        <span class="contentList__itemContent contentList__itemContent_type_refund">
                            <span class="contentList__itemContentLabel">Вернуть билет</span>
                        </span >
                    </li>
                </ul>

            </div>
        </div>
    {{/if}}
</div>






