<div>
    {{#if visible}}
        <div class="layoutContent__row layoutContent__row_type_cancel">
            <div class="layoutContent">

                <ul class="contentList">
                    <li class="contentList__item">
                        <span class="contentList__itemContent contentList__itemContent_type_cancel">
                            <span class="contentList__itemContentLabel">Отменить заказ</span>
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    {{/if}}
</div>






