<div class="layoutPage">
    <h1 class="layoutPage__title layoutPage__title_type_static">Условия договора воздушной перевозки&nbsp;и другие важные уведомления (IATA)</h1>
    <div class="layoutContent__row">
        <section class="staticContent">

            <p>ПАССАЖИРЫ, ПЕРЕВОЗКА КОТОРЫХ ИМЕЕТ ПУНКТ НАЗНАЧЕНИЯ ИЛИ ОСТАНОВКУ НЕ&nbsp;В&nbsp;СТРАНЕ ОТПРАВЛЕНИЯ,
                УВЕДОМЛЯЮТСЯ О&nbsp;ТОМ, ЧТО ПОЛОЖЕНИЯ МЕЖДУНАРОДНЫХ ДОГОВОРОВ, ИЗВЕСТНЫХ КАК МОНРЕАЛЬСКАЯ КОНВЕНЦИЯ ИЛИ
                ПРЕДШЕСТВУЮЩАЯ ЕЙ&nbsp;ВАРШАВСКАЯ КОНВЕНЦИЯ С&nbsp;ДОПОЛНИТЕЛЬНЫМИ СОГЛАШЕНИЯМИ К&nbsp;НЕЙ, МОГУТ
                ПРИМЕНЯТЬСЯ В&nbsp;ОТНОШЕНИИ ВСЕЙ ПЕРЕВОЗКИ, ВКЛЮЧАЯ ЛЮБОЙ ОТРЕЗОК, НАХОДЯЩИЙСЯ В&nbsp;ПРЕДЕЛАХ
                ТЕРРИТОРИИ СТРАНЫ. ДЛЯ ТАКИХ ПАССАЖИРОВ ПРИМЕНИМАЯ КОНВЕНЦИЯ, ВКЛЮЧАЯ ОСОБЫЕ УСЛОВИЯ ПЕРЕВОЗКИ,
                ОБУСЛОВЛЕННЫЕ ПРИМЕНЯЕМЫМИ ТАРИФАМИ, РЕГУЛИРУЮТ И&nbsp;МОГУТ ОГРАНИЧИВАТЬ ОТВЕТСТВЕННОСТЬ ПЕРЕВОЗЧИКА.</p>
            <h4>ИЗВЕЩЕНИЕ об ограничении ответственности</h4>
            <p>К&nbsp;Вашей поездке могут применяться Монреальская конвенция или Варшавская конвенция и&nbsp;эти
                конвенции предусматривают и&nbsp;могут ограничивать ответственность авиаперевозчиков за&nbsp;смерть или
                причинение вреда здоровью, за&nbsp;утрату, повреждение и&nbsp;задержку багажа или за&nbsp;задержку
                рейса.</p>
            <p>В&nbsp;случае применения Монреальской конвенции установлены следующие пределы ответственности:</p>
            <ol>
                <li>В&nbsp;отношении смерти или причинения вреда здоровью пассажира никаких финансовых ограничений
                    ответственности не&nbsp;установлено.</li>
                <li>В&nbsp;отношении уничтожения, утраты, повреждения или задержки багажа в&nbsp;большинстве случаев
                    установлена ответственность в&nbsp;размере 1131 Специальных Прав Заимствования (приблизительно 1200&nbsp;Евро;
                    1800&nbsp;долларов США) на&nbsp;одного пассажира.</li>
                <li>В&nbsp;отношении ущерба, вызванного задержкой рейса, в&nbsp;большинстве случаев установлена
                    ответственность в&nbsp;размере 4694 Специальных Прав Заимствования (приблизительно 5000&nbsp;Евро;
                    7500&nbsp;долларов США) на&nbsp;одного пассажира.</li>
            </ol>
            <p>Директива ЕС&nbsp;№&nbsp;889/2002 предписывает перевозчикам стран Евросоюза применять положения
                Монреальской конвенции об&nbsp;ограничении ответственности ко&nbsp;всем воздушным перевозкам пассажиров
                и&nbsp;багажа, выполняемым этими перевозчиками. Многие перевозчики стран, не&nbsp;входящих в&nbsp;Евросоюз,
                установили те&nbsp;же ограничения ответственности в&nbsp;отношении выполняемых ими перевозок пассажиров
                и&nbsp;багажа.</p>
            <p>В&nbsp;случае применения Варшавской конвенции, могут действовать следующие пределы ответственности:</p>
            <ol>
                <li>16&nbsp;600 Специальных Прав Заимствования (приблизительно 20&nbsp;000&nbsp;Евро; 20&nbsp;000&nbsp;долларов
                    США) в&nbsp;отношении смерти или причинении вреда здоровью пассажира, если применяется Гаагский
                    протокол к&nbsp;Варшавской конвенции, или 8300 Специальных Прав Заимствования (приблизительно 10&nbsp;000&nbsp;Евро;
                    10&nbsp;000&nbsp;долларов США), если применяется только Варшавская конвенция. Многие перевозчики
                    добровольно отказались от&nbsp;соблюдения этих пределов ответственности, а&nbsp;согласно
                    законодательству США в&nbsp;отношении перевозок в/из США или перевозок с&nbsp;согласованным пунктом
                    остановки в&nbsp;США предел ответственности не&nbsp;может быть ниже 75&nbsp;000&nbsp;долларов США.</li>
                <li>17 Специальных Прав Заимствования (приблизительно 20&nbsp;Евро; 20&nbsp;долларов США) за&nbsp;килограмм
                    утраченного, поврежденного или задержанного зарегистрированного багажа и&nbsp;332 Специальных Прав
                    Заимствования (приблизительно 400&nbsp;Евро; 400&nbsp;долларов США) в&nbsp;отношении
                    незарегистрированного багажа;</li>
                <li>Перевозчик также может нести ответственность за&nbsp;ущерб, вызванный задержкой рейса.</li>
            </ol>
            <p>Дополнительная информация о&nbsp;пределах ответственности, применимых к&nbsp;Вашей поездке, может быть
                получена у&nbsp;перевозчика. Если Ваша поездка осуществляется различными перевозчиками, Вам необходимо
                получить информацию по&nbsp;применимым пределам ответственности у&nbsp;каждого из&nbsp;них.</p>
            <p>Независимо от&nbsp;того, какая Конвенция применима к&nbsp;Вашей поездке, Вы&nbsp;можете повысить предел
                ответственности за&nbsp;утрату, повреждение или задержку багажа, объявив ценность Вашего багажа во&nbsp;время
                регистрации на&nbsp;рейс и&nbsp;заплатив дополнительный сбор, если таковой установлен. Возможен другой
                вариант: если ценность Вашего багажа превышает применимый предел ответственности, Вы&nbsp;можете
                полностью застраховать его до&nbsp;начала поездки.</p>
            <p>Сроки предъявления исков: Любые иски в&nbsp;суд должны быть предъявлены в&nbsp;течение двух лет с&nbsp;даты
                прибытия воздушного судна или планируемой даты прибытия. Претензии по&nbsp;багажу: В&nbsp;случае
                повреждения багажа письменная претензия перевозчику должна быть предъявлена в&nbsp;течение 7 дней после
                получения зарегистрированного багажа, а&nbsp;в&nbsp;случае задержки багажа&nbsp;— в&nbsp;течение
                21 дня со&nbsp;дня его поступления в&nbsp;распоряжение пассажира.</p>
            <h4>Уведомление об условиях, являющихся частью договора</h4>
            <ol>
                <li>Ваш договор перевозки с&nbsp;перевозчиком, который предоставляет Вам международную, внутреннюю
                    авиаперевозку или внутреннюю авиаперевозку в&nbsp;рамках международной перевозки, является предметом
                    данного уведомления. любого уведомления перевозчика и&nbsp;индивидуальных условий (Условий)
                    перевозчика, соответствующих правил, норм и&nbsp;требований (Правил), а&nbsp;также правил
                    применяемых тарифов.</li>
                <li>Если перевозка осуществляется более чем одним перевозчиком, каждый из&nbsp;них вправе применять
                    различные Условия, Правила и&nbsp;тарифы.</li>
                <li>В&nbsp;соответствии с&nbsp;настоящим уведомлением Условия, Правила и&nbsp;тарифы каждого перевозчика
                    являются частью Вашего договора перевозки.</li>
                <li>
                    Условия перевозчика могут содержать (включая следующие, но&nbsp;не&nbsp;ограничиваясь ими):
                    <ul class="dash">
                        <li>Условия и&nbsp;ограничения ответственности перевозчика за&nbsp;смерть или причинение вреда
                            здоровью пассажиров;</li>
                        <li>Условия и&nbsp;ограничения ответственности перевозчика за&nbsp;утрату, повреждение или
                            задержку багажа, включая хрупкие или скоропортящиеся предметы.</li>
                        <li>Правила объявления ценности багажа и&nbsp;взимания соответствующей дополнительной платы.</li>
                        <li>Применение Условий перевозчика и&nbsp;ограничение ответственности перевозчика за&nbsp;действия
                            агентов перевозчика, работников и&nbsp;представителей, включая любое лицо, предоставляющее
                            технические средства для перевозки или оказывающее услуги, связанные с&nbsp;перевозкой.</li>
                        <li>Ограничения по&nbsp;порядку подачи претензий, включая ограничение периода времени, в&nbsp;течение
                            которого пассажир вправе подавать претензии и&nbsp;заявлять иски в&nbsp;суд.</li>
                        <li>Правила в&nbsp;отношении подтверждения первоначально сделанного бронирования и&nbsp;резервирования
                            мест; времени регистрации; использованиия, продолжительности и&nbsp;срока действия воздушной
                            перевозки; и&nbsp;права перевозчика в&nbsp;отказе от&nbsp;перевозки.</li>
                        <li>Права перевозчика и&nbsp;ограничение ответственности перевозчика за&nbsp;задержку или
                            неоказание услуг, включая изменения расписания, замену перевозчика или воздушного судна и&nbsp;изменение
                            маршрута, и, если это требуется в&nbsp;соответствии с&nbsp;применимым законодательством,
                            обязанность перевозчика уведомлять пассажиров об&nbsp;перевозчике, фактически осуществляющем
                            перевозку, или о&nbsp;воздушном судне, предоставленном на&nbsp;замену.</li>
                        <li>Права перевозчика отказать в&nbsp;перевозке пассажирам, нарушившим требования применимого
                            права или не&nbsp;представившим необходимых для поездки документов.</li>
                    </ul>
                </li>
                <li>Более подробную информацию об&nbsp;условиях договора перевозки и&nbsp;способах получения его копии
                    Вы&nbsp;можете получить в&nbsp;местах продажи перевозки. Многие перевозчики также размещают эту
                    информацию на&nbsp;своих сайтах. Если это требуется в&nbsp;соответствии с&nbsp;применимым
                    законодательством, вы&nbsp;имеете право ознакомиться с&nbsp;полным текстом договора перевозки в&nbsp;аэропорту
                    перевозчика и&nbsp;его офисах продаж, а&nbsp;также по&nbsp;запросу бесплатно получить у&nbsp;каждого
                    перевозчика копию договора по&nbsp;почте или&nbsp;другим способом.</li>
                <li>Если перевозчик продает билеты или регистрирует багаж, указывая при этом, что перевозка будет
                    выполняться другим перевозчиком, он&nbsp;выступает только в&nbsp;качестве агента данного
                    перевозчика.</li>
            </ol>
            <p>
                <span class="marker">Вы&nbsp;не&nbsp;можете совершать поездку, если у&nbsp;вас отсутствуют все необходимые документы, такие как паспорт и&nbsp;виза.</span>
            </p>
            <p>
                <span class="marker">Органы государственной власти могут требовать от&nbsp;перевозчика предоставления информации или доступ к&nbsp;данным о&nbsp;пассажирах.</span>
            </p>
            <p>
                <span class="marker">Отказ в&nbsp;посадке на&nbsp;рейс:</span>
                На&nbsp;рейс может быть продано больше билетов, чем количество посадочных мест, и&nbsp;существует
                незначительная вероятность того, что на&nbsp;рейсе не&nbsp;будет свободных мест, даже если у&nbsp;Вас
                есть подтвержденное бронирование. Если Вам было отказано в&nbsp;посадке на&nbsp;рейс, в&nbsp;большинстве
                случаев, Вы&nbsp;можете получить компенсацию. Если это требуется в&nbsp;соответствии с&nbsp;применимым
                правом, перевозчик должен попытаться найти пассажиров, готовых добровольно отказаться от&nbsp;посадки на&nbsp;рейс,
                прежде чем,<nobr>кому-либо</nobr>
                будет в&nbsp;этом отказано. Полные правила выплаты компенсации в&nbsp;случае отказа в&nbsp;посадке на&nbsp;рейс
                (КОП) и&nbsp;информацию о&nbsp;приоритетности, используемой перевозчиком при посадке, можно уточнить у&nbsp;Вашего
                перевозчика.
            </p>
            <p>
                <span class="marker">Багаж</span>: В&nbsp;отношении некоторых видов предметов может объявляться
                повышенная ценность. Перевозчики могут использовать специальные правила для хрупких, ценных или 
                скоропортящихся предметов. Более подробную информацию Вы&nbsp;можете получить у&nbsp;перевозчика. <span class="marker">Зарегистрированный багаж</span>: Перевозчики могут разрешить бесплатный провоз
                зарегистрированного багажа в&nbsp;пределах норм, установленных перевозчиком, которые могут различаться в&nbsp;зависимости
                от&nbsp;класса обслуживания и/или маршрута перевозки. Перевозчики могут устанавливать размер
                дополнительной платы за&nbsp;зарегистрированный багаж в&nbsp;случае превышения допустимых норм. Более 
                подробную информацию Вы&nbsp;можете получить у&nbsp;перевозчика. <span class="marker">Ручная кладь (незарегистрированный багаж)</span>:
                Перевозчики могут разрешить бесплатный провоз ручной клади, в&nbsp;пределах норм, установленных
                перевозчиком, которые могут различаться в&nbsp;зависимости от&nbsp;класса обслуживания, маршрута
                перевозки и/или типа воздушного судна. Рекомендуется провозить минимальное количество ручной клади.
                Более подробную информацию Вы&nbsp;можете получить у&nbsp;перевозчика. Если перевозка осуществляется
                более чем одним перевозчиком, каждый перевозчик может устанавливать различные требования в&nbsp;отношении 
                багажа (как в&nbsp;отношении зарегистрированного багажа так и&nbsp;ручной клади). <span class="marker">СПЕЦИАЛЬНЫЕ ОГРАНИЧЕНИЯ ОТВЕТСТВЕННОСТИ ЗА&nbsp;БАГАЖ ДЛЯ ПОЕЗДКИ В&nbsp;США</span>:<i>Для поездки в&nbsp;пределах США, федеральные правила устанавливают предел ответственности за&nbsp;багаж
                    в&nbsp;размере не&nbsp;менее 3300.00&nbsp;долларов США в&nbsp;отношении каждого пассажира, или в&nbsp;размере,
                    установленном ст. 14 Кодекса федерального регулирования 254.5</i>.
            </p>
            <p>
                <span class="marker">Время регистрации</span>. Время, указанное на&nbsp;маршруте/квитанции, является
                временем вылета воздушного судна. Время вылета воздушного судна не&nbsp;является временем регистрации на&nbsp;рейс
                или временем посадки. В&nbsp;случае Вашего опоздания перевозчик вправе отказать Вам в&nbsp;перевозке.
                Время регистрации, указанное перевозчиком, является наиболее поздним временем, когда пассажиры могут
                быть приняты к&nbsp;перевозке; время посадки, указанное перевозчиком, является наиболее поздним временем
                прибытия пассажира на&nbsp;посадку.
            </p>
            <p>
                <span class="marker">Опасные предметы (вредные вещества)</span>. В&nbsp;целях безопасности за&nbsp;исключением
                специальных разрешений опасные предметы не&nbsp;должны находиться в&nbsp;зарегистрированном багаже или
                ручной клади (незарегистрированном багаже). Перечень опасных предметов (включая, но&nbsp;не&nbsp;ограничиваясь):
                сжатые газы, едкие вещества, взрывчатые вещества, воспламеняющиеся жидкости и&nbsp;твердые вещества,
                радиоактивные материалы, окислители, яды, инфекционные вещества и&nbsp;портфели с&nbsp;вмонтированными в&nbsp;них
                охранными устройствами. В&nbsp;целях безопасности могут устанавливаться другие ограничения. Более
                подробную информацию Вы&nbsp;можете получить у&nbsp;перевозчика.
            </p>
            <h4>Опасные предметы</h4>
            <p>Не&nbsp;запаковывайте и&nbsp;не&nbsp;берите на&nbsp;борт предметы, изображенные ниже без разрешения
                перевозчика.</p>
            <p align="center">
                <img src="js/core/servicehub/mock/notices.jpg">
            </p>
            <p>
                <span class="marker">Не&nbsp;ставьте под угрозу свою безопасность и&nbsp;безопасность следующих с&nbsp;вами пассажиров.
                    <br>
                    Более подробную информацию вы&nbsp;можете получить у&nbsp;перевозчика.
                </span>
                <br>
                Перевод и&nbsp;другая полезная информация доступны на&nbsp;сайте IATA:
                <noindex>
                    <a href="http://www.iatatravelcentre.com/tickets" class="show" target="_blank" rel="nofollow">www.iatatravelcentre.com/tickets</a>
                </noindex>
            </p>
            <div class="unit fileinfo pdf">
                <a target="_blank" rel="nofollow" href="/media/docs/transportation-conditions-iata/transportation-conditions-iata.pdf">Оригинал документа</a>
                <span>235 КБ</span>
            </div>


        </section>
    </div>
</div>
