<div class="layoutPage">
    <h1 class="layoutPage__title layoutPage__title_type_static">Условия договора воздушной перевозки НСАВ/ТКП</h1>
    <div class="layoutContent__row">
        <section class="staticContent">

            <p>Билет недействителен и&nbsp;не&nbsp;принимается
                к&nbsp;перевозке, если выписан не&nbsp;перевозчиком или
                уполномоченным им&nbsp;агентом</p>
            <h4>УСЛОВИЯ ДОГОВОРА МЕЖДУНАРОДНОЙ ВОЗДУШНОЙ ПЕРЕВОЗКИ</h4>
            <ol>
                <li>
                    Употребляемые в&nbsp;настоящем договоре термины означают:
                    <ul class="dash">
                        <li>«билет»&nbsp;— настоящий пассажирский билет и&nbsp;багажная
                            квитанция, или, в&nbsp;случае электронного билета, настоящая
                            маршрут/квитанция, частью которых являются настоящие условия&nbsp;и
                            уведомления;</li>
                        <li>«перевозка»&nbsp;— равнозначна «транспортировке»;</li>
                        <li>«перевозчик»&nbsp;— все авиаперевозчики, которые
                            перевозят&nbsp;или обязуются перевезти пассажира или его багаж
                            по&nbsp;настоящему договору или осуществляют любое другое
                            обслуживание, связанное с&nbsp;данной воздушной перевозкой;</li>
                        <li>«электронный билет»&nbsp;— маршрут/квитанция, оформленная
                            перевозчиком или&nbsp;от его имени, электронные купоны
                            и&nbsp;посадочный документ, если таковой применяется;</li>
                        <li>«Варшавская конвенция»&nbsp;— Конвенция для унификации
                            некоторых правил, касающихся международных воздушных перевозок,
                            подписанная в&nbsp;Варшаве 12&nbsp;октября 1929 года, или указанная
                            Конвенция, измененная протоколом, подписанным в&nbsp;Гааге
                            28&nbsp;сентября 1955 года, в&nbsp;зависимости&nbsp;от того, какой
                            из&nbsp;этих документов может быть применен к&nbsp;настоящей
                            перевозке;</li>
                        <li>«Монреальская конвенция»&nbsp;— Конвенция&nbsp;для унификации
                            некоторых правил, касающихся международных воздушных перевозок,
                            подписанная в&nbsp;Монреале 28&nbsp;мая 1999 года.</li>
                    </ul>
                </li>
                <li>На&nbsp;перевозку, выполняемую по&nbsp;настоящему договору,
                    распространяются правила и&nbsp;ограничения в&nbsp;отношении
                    ответственности, установленные Варшавской конвенцией или
                    Монреальской конвенцией, за&nbsp;исключением&nbsp;тех случаев,
                    когда перевозка не&nbsp;является «международной перевозкой»
                    по&nbsp;определению Конвенции.</li>
                <li>
                    Поскольку это не&nbsp;противоречит вышеизложенному, перевозка,
                    выполняемая по&nbsp;настоящему договору, и&nbsp;другие
                    предоставляемые каждым перевозчиком услуги подчиняются:
                    <p>(I)&nbsp;условиям, изложенным в&nbsp;билете;</p>
                    <p>(II)&nbsp;применяемым тарифам;</p>
                    <p>(III) условиям перевозки перевозчика и&nbsp;относящимся
                        к&nbsp;ней правилам, являющимся частью настоящего договора&nbsp;(с
                        которыми можно ознакомиться в&nbsp;представительствах
                        перевозчика).</p>
                    В&nbsp;отношении перевозки между пунктами в&nbsp;США&nbsp;или
                    Канаде и&nbsp;какими-либо пунктами за&nbsp;их&nbsp;пределами
                    применяются тарифы, действующие в&nbsp;этих странах.
                </li>
                <li>Наименование перевозчика в&nbsp;билете может указываться
                    сокращенно. Полное наименование и&nbsp;его сокращение
                    содержится&nbsp;в тарифных справочниках, условиях перевозки,
                    правилах и&nbsp;расписании соответствующего перевозчика. Адресом
                    перевозчика является аэропорт отправления, указанный в&nbsp;билете
                    против первого сокращенного наименования перевозчика.
                    Согласованными пунктами остановок считаются пункты, указанные
                    в&nbsp;настоящем билете или обозначенные в&nbsp;расписании
                    перевозчика как пункты остановок на&nbsp;маршруте следования
                    пассажира. Перевозка, выполняемая по&nbsp;настоящему договору
                    несколькими последовательными перевозчиками, рассматривается как
                    единая перевозка.</li>
                <li>Перевозчик, выдающий билет для перевозки по&nbsp;воздушным
                    линиям другого перевозчика, действует в&nbsp;качестве агента
                    последнего.</li>
                <li>Любое исключение или ограничение ответственности перевозчика
                    распространяется на&nbsp;агентов, служащих&nbsp;или представителей
                    перевозчика и&nbsp;любое лицо, воздушное судно которого
                    используется для перевозки перевозчиком&nbsp;и агентами, служащими
                    или представителями этого лица.</li>
                <li>Зарегистрированный багаж выдается предъявителю багажной бирки.
                    В&nbsp;случае повреждения багажа при международной перевозке
                    извещение должно быть предъявлено перевозчику в&nbsp;письменной
                    форме немедленно по&nbsp;обнаружении повреждения,
                    но&nbsp;не&nbsp;позднее 7&nbsp;дней со&nbsp;дня получения багажа.
                    В&nbsp;случае просрочки в&nbsp;доставке извещение должно быть
                    предъявлено не&nbsp;позднее 21&nbsp;дня со&nbsp;дня выдачи багажа.
                    Смотрите тарифы и&nbsp;условия для немеждународных перевозок.</li>
                <li>Срок годности настоящего билета устанавливается в&nbsp;один год
                    с&nbsp;даты выдачи, если иное не&nbsp;указано в&nbsp;настоящем
                    билете, тарифных справочниках, условиях перевозки или
                    соответствующих правилах перевозчика. Тариф за&nbsp;перевозку,
                    выполняемую по&nbsp;настоящему договору, может быть изменен
                    до&nbsp;начала перевозки. Перевозчик может отказатьв перевозке,
                    если положенный тариф не&nbsp;был уплачен.</li>
                <li>Перевозчик обязуется принять все зависящие от&nbsp;него меры,
                    чтобы перевезти пассажира и&nbsp;багаж в&nbsp;разумные сроки.
                    Время, указанное в&nbsp;расписании или других документах,
                    не&nbsp;гарантируется и&nbsp;не&nbsp;является составной частью
                    настоящего договора. Перевозчик может без предупреждения передать
                    пассажира для перевозки другому перевозчику, заменить воздушное
                    судно, изменить или отменить посадку в&nbsp;пунктах, указанных
                    в&nbsp;билете, если это необходимо. Расписание может быть
                    изменено&nbsp;без предупреждения пассажира. Перевозчик
                    не&nbsp;несет ответственности за&nbsp;обеспечение стыковок
                    рейсов.</li>
                <li>Пассажир должен соблюдать требования государственных органов,
                    касающиеся передвижений, предъявлять въездные, выездные
                    и&nbsp;другие необходимые документы и&nbsp;прибыть в аэропорт
                    ко&nbsp;времени, назначенному перевозчиком, а&nbsp;если&nbsp;это
                    время не&nbsp;установлено, то&nbsp;к&nbsp;сроку, достаточному для
                    завершения предполетных формальностей.</li>
                <li>Никто&nbsp;из&nbsp;агентов, служащих или представителей
                    перевозчика не&nbsp;вправе изменять или отменять положения
                    настоящего договора.</li>
            </ol>
            <h4>УСЛОВИЯ ДОГОВОРА ВНУТРЕННЕЙ ВОЗДУШНОЙ ПЕРЕВОЗКИ</h4>
            <p>Перевозка по&nbsp;настоящему договору выполняется
                в&nbsp;соответствии с&nbsp;изложенными в&nbsp;билете положениями,
                а&nbsp;также правилами перевозчика. Перевозчик обязуется принятьвсе
                зависящие от&nbsp;него меры, чтобы перевезти пассажира и&nbsp;багаж
                в&nbsp;разумные сроки. Наименование перевозчика на&nbsp;билете
                может указываться в&nbsp;сокращенном виде (в&nbsp;виде кода),
                полное наименование перевозчика указывается в&nbsp;справочниках
                и&nbsp;расписании.</p>
            <p>Ответственность перевозчика за&nbsp;смерть или причинение вреда
                здоровью пассажира, а&nbsp;также за&nbsp;утрату, недостачу&nbsp;или
                повреждение багажа регламентируется законодательством той страны,
                на&nbsp;территории которой выполняется внутренняя воздушная
                перевозка.</p>
            <p>Использование билета лицом, не&nbsp;указанным в&nbsp;билете,
                не&nbsp;допускается.</p>
            <p>Претензии о&nbsp;нарушениях условий договора воздушной перевозки
                направляются непосредственно перевозчику.</p>
            <p>Права и&nbsp;ответственность перевозчика и&nbsp;пассажира
                по&nbsp;другим правоотношениям, связанным с&nbsp;воздушной
                перевозкой&nbsp;по настоящему договору, определяются правилами
                перевозчика.</p>
            <p>«Пассажирский билет и&nbsp;багажная квитанция» (далее&nbsp;—
                «билет») является документом, удостоверяющим заключение договора
                между пассажиром и&nbsp;перевозчиком, указанным в&nbsp;графе
                «перевозчик» полетного купона, на&nbsp;воздушную перевозку
                пассажира&nbsp;и его багажа.</p>
            <p>Настоящий билет действителен при выполнении внутренней воздушной
                перевозки и&nbsp;при выполнении международной воздушной
                перевозки.</p>
            <h4>ВАЖНАЯ ИНФОРМАЦИЯ ПАССАЖИРАМ</h4>
            <p>Регистрация пассажиров и&nbsp;оформление багажа на&nbsp;рейсы
                в&nbsp;аэропорту заканчиваются не&nbsp;ранее чем
                за&nbsp;40&nbsp;минут до&nbsp;времени отправления воздушного судна
                по&nbsp;расписанию или по&nbsp;плану (графику) чартерных перевозок.
                Пассажиру, опоздавшему&nbsp;ко времени окончания регистрации
                пассажиров и&nbsp;оформления багажа или посадки в&nbsp;воздушное
                судно, может быть отказано&nbsp;в перевозке данным рейсом. Время
                отправления в&nbsp;билете указано местное.</p>
            <p>Перевозчик может в&nbsp;одностороннем порядке расторгнуть
                договор воздушной перевозки пассажира в&nbsp;следующих случаях:</p>
            <ul class="dash">
                <li>нарушение пассажиром паспортных, таможенных, санитарных
                    и&nbsp;иных установленных законодательством требований;</li>
                <li>отказ пассажира выполнять требования, предъявляемые к&nbsp;нему
                    авиационными правилами;</li>
                <li>если состояние здоровья пассажира воздушного судна требует
                    особых условий воздушной перевозки либо угрожает безопасности
                    самого пассажира или других лиц, что подтверждается медицинскими
                    документами, а&nbsp;равно создает беспорядок и&nbsp;неустранимые
                    неудобства для других&nbsp;лиц;</li>
                <li>отказ пассажира воздушного судна оплатить провоз своего багажа,
                    вес которого превышает установленные нормы бесплатного провоза
                    багажа;</li>
                <li>отказ пассажира воздушного судна оплатить перевоз следующего
                    с&nbsp;ним ребенка, за&nbsp;исключением случаев, предусмотренных
                    законодательством;</li>
                <li>нарушение пассажиром воздушного судна правил поведения
                    на&nbsp;борту воздушного судна, создающее угрозу безопасности
                    полета воздушного судна либо угрозу жизни или здоровью других лиц,
                    а&nbsp;также невыполнение пассажиром воздушного судна распоряжений
                    командира воздушного судна;</li>
                <li>наличие в&nbsp;вещах, находящихся при пассажире, а&nbsp;также
                    в&nbsp;багаже запрещенных к&nbsp;воздушной перевозке
                    предметов&nbsp;или веществ.</li>
            </ul>
            <p>Информацию о&nbsp;дополнительных условиях перевозки пассажир
                может получить непосредственно у&nbsp;перевозчика&nbsp;или
                уполномоченного им&nbsp;агента.</p>
            <h4>ИЗВЕЩЕНИЕ ПАССАЖИРА МЕЖДУНАРОДНОГО РЕЙСА ОБ&nbsp;ОГРАНИЧЕНИИ
                ОТВЕТСТВЕННОСТИ</h4>
            <p>Пассажиры, перевозка которых имеет пункт назначения или
                остановку не&nbsp;в&nbsp;стране отправления, уведомляются
                о&nbsp;том,&nbsp;что положения международного договора, известного
                как «Варшавская конвенция», могут применяться в&nbsp;отношении всей
                перевозки, включая любой ее&nbsp;отрезок, целиком находящийся
                в&nbsp;пределах территории страны отправления или назначения. Для
                таких пассажиров, перевозка которых имеет пункт отправления,
                назначения или согласованной остановки на&nbsp;территории
                Соединенных Штатов Америки, Конвенция и&nbsp;специальные договоры
                перевозки, размещенные в&nbsp;тарифных справочниках,
                предусматривают, что ответственность определенных перевозчиков,
                являющихся участниками таких специальных договоров,&nbsp;за смерть
                или причинение вреда здоровью пассажира в&nbsp;большинстве случаев
                ограничивается доказанным ущербом, но&nbsp;не превышает 75&nbsp;000
                долларов США в&nbsp;отношении каждого пассажира; и&nbsp;что
                ответственность в указанных пределах наступает независимо
                от&nbsp;того, была&nbsp;ли допущена халатность со&nbsp;стороны
                перевозчика.</p>
            <p>В&nbsp;отношении пассажиров, перевозимых перевозчиком,
                не&nbsp;являющимся участником таких специальных договоров,&nbsp;или
                пассажиров, не&nbsp;следующих в&nbsp;(из)&nbsp;США или
                не&nbsp;имеющих пункт согласованной остановки на&nbsp;территории
                США, ответственность перевозчика за&nbsp;смерть или причинение
                вреда здоровью пассажира в&nbsp;большинстве случаев ограничивается
                суммой приблизительно 10&nbsp;000 долларов США или 20&nbsp;000
                долларов&nbsp;США.</p>
            <p>Наименования перевозчиков, являющихся участниками таких
                специальных договоров, имеются во&nbsp;всех кассах по&nbsp;продаже
                билетов этих перевозчиков и&nbsp;сообщаются пассажиру по&nbsp;его
                просьбе.</p>
            <p>Дополнительное обеспечение обычно осуществляется пассажиром
                путем страхования в&nbsp;частной страховой компании. На&nbsp;такое
                страхование не&nbsp;влияет какое-либо ограничение ответственности
                перевозчика по&nbsp;Варшавской конвенции или специальному договору
                перевозки. За&nbsp;дополнительной информацией необходимо обратиться
                к&nbsp;перевозчику или представителю страховой компании.</p>
            <p>ПРИМЕЧАНИЕ: Предел ответственности в&nbsp;75&nbsp;000 долларов
                США включает судебные расходы и&nbsp;издержки, за&nbsp;исключением
                расходов и&nbsp;издержек, возмещение которых предусматривается
                отдельно согласно закону страны, где предъявляется иск. В&nbsp;этом
                случае пределом ответственности считается сумма, составляющая
                58&nbsp;000 долларов США, исключая судебные расходы&nbsp;и
                издержки.</p>
            <h4>УВЕДОМЛЕНИЕ ОБ&nbsp;ОГРАНИЧЕНИИ ОТВЕТСТВЕННОСТИ
                ЗА&nbsp;БАГАЖ</h4>
            <p>Если при международной перевозке (включая внутренние отрезки
                международной перевозки) заблаговременно не&nbsp;объявлена
                повышенная ценность багажа и&nbsp;не&nbsp;оплачены дополнительные
                сборы, то,&nbsp;как правило, предел ответственности за&nbsp;утрату,
                повреждение или задержку багажа составляет приблизительно
                9,07&nbsp;доллара США за&nbsp;1&nbsp;фунт (20&nbsp;долларов США
                за&nbsp;килограмм) зарегистрированного багажа и&nbsp;400 долларов
                США за&nbsp;незарегистрированный багаж в&nbsp;отношении каждого
                пассажира.&nbsp;При перевозке, осуществляемой исключительно между
                пунктами в&nbsp;пределах территории CША, Федеральные правила
                требуют, чтобы ответственность перевозчика за&nbsp;багаж составляла
                не&nbsp;менее 2800 долларов США для одного пассажира. Повышенная
                ценность багажа может быть заявлена на&nbsp;определенные виды
                предметов. Некоторые перевозчики не&nbsp;несут ответственность за
                хрупкие, ценные или скоропортящиеся предметы. Дополнительная
                информация может быть получена от&nbsp;перевозчика.</p>
            <h4>УВЕДОМЛЕНИЕ О&nbsp;ПРАВИТЕЛЬСТВЕННЫХ НАЛОГАХ, СБОРАХ
                И&nbsp;ПОШЛИНАХ</h4>
            <p>Стоимость настоящего билета может включать налоги, сборы
                и&nbsp;пошлины, установленные правительственными инстанциями&nbsp;в
                отношении воздушной перевозки. Эти налоги, сборы и&nbsp;пошлины,
                которые могут составлять существенную часть стоимости воздушной
                перевозки, включаются в&nbsp;тариф, либо отдельно указываются
                в&nbsp;графе(ах)&nbsp;«СБОР» билета. Кроме этого, с&nbsp;Вас могут
                быть взысканы другие неоплаченные налоги, сборы и&nbsp;пошлины.</p>
            <p>Следующее уведомление не&nbsp;применяется при продаже
                авиабилетов на&nbsp;территории США с&nbsp;началом перевозки
                в&nbsp;США.</p>
            <h4>ОТКАЗ В&nbsp;ПРЕДОСТАВЛЕНИИ МЕСТА ПО&nbsp;ПРИЧИНЕ ПРЕВЫШЕНИЯ
                ПРЕДЕЛА БРОНИРОВАНИЯ</h4>
            <p>В&nbsp;тех странах, где действует программа компенсаций при
                отказе в&nbsp;предоставлении места, перевозчик несет
                ответственность за выплату компенсаций пассажирам, которым, при
                наличии подтвержденного бронирования, было отказано
                в&nbsp;предоставлении места по&nbsp;причине превышения предела
                бронирования. За&nbsp;дополнительной информацией по&nbsp;данному
                вопросу следует обращаться в&nbsp;офис перевозчика.</p>
            <h4>ПЕРЕВОЗКА БАГАЖА ПАССАЖИРОВ</h4>
            <p>Зарегистрированный багаж. Пассажиру, как правило,
                предоставляется право бесплатного провоза багажа в&nbsp;пределах
                нормы, которая может отличаться в&nbsp;зависимости
                от&nbsp;авиакомпании, класса обслуживания и/или&nbsp;маршрута.
                За&nbsp;регистрируемый сверхнормативный багаж может взиматься
                дополнительная плата. Незарегистрированный багаж. Пассажиру, как
                правило, предоставляется право бесплатного провоза
                незарегистрированного багажа в&nbsp;пределах нормы, которая может
                отличаться в&nbsp;зависимости от&nbsp;авиакомпании, класса
                обслуживания, маршрута и/или типа самолета. Рекомендуется, чтобы
                вес незарегистрированного багажа был минимальным. Для получения
                более подробной информации обратитесь к перевозчику или
                к&nbsp;уполномоченному им&nbsp;агенту.</p>
            <p>Ограничения по&nbsp;перевозке на&nbsp;борту воздушного судна
                жидкостей, гелей и&nbsp;аэрозолей Пассажирам разрешено перевозить
                на борту воздушного судна с&nbsp;соблюдением требуемых условий
                следующие предметы&nbsp;и вещества в&nbsp;вещах, находящихся при
                пассажирах: жидкости, гели и&nbsp;аэрозоли, относящиеся
                к&nbsp;неопасным, в&nbsp;емкостях вместимостью не&nbsp;более 100
                мл&nbsp;(или эквивалентной емкостью в&nbsp;других единицах
                измерения объема), упакованные в&nbsp;надежно закрывающийся
                прозрачный пластиковый пакет объемом не&nbsp;более 1&nbsp;л&nbsp;—
                один пакет на&nbsp;пассажира.</p>
            <p>Жидкости в&nbsp;контейнерах емкостью более 100
                мл&nbsp;к&nbsp;перевозке не&nbsp;принимаются даже в&nbsp;том
                случае, если емкость заполнена лишь частично.</p>
            <p>Исключение по&nbsp;перевозке имеют лекарства, детское питание
                и&nbsp;специальные диетические потребности.</p>
            <p>Жидкости, приобретенные в&nbsp;магазинах беспошлинной торговли
                в&nbsp;аэропорту или на&nbsp;борту воздушного судна, должны быть
                упакованы в&nbsp;надежно запечатанный (опломбированный) пластиковый
                пакет, обеспечивающий идентификацию доступа&nbsp;к содержимому
                пакета в&nbsp;течение полета, на&nbsp;котором имеется достоверное
                подтверждение того, что эта покупка произведена&nbsp;в аэропортовых
                магазинах беспошлинной торговли или на&nbsp;борту воздушного судна
                в&nbsp;день (дни) поездки.</p>
            <h4>ОПАСНЫЕ ПРЕДМЕТЫ И&nbsp;ВЕЩЕСТВА</h4>
            <p>Пассажирам запрещено перевозить на борту воздушного судна
                в&nbsp;зарегистрированном багаже и&nbsp;в&nbsp;вещах,
                находящихся&nbsp;при пассажирах, следующие опасные вещества
                и&nbsp;предметы:</p>
            <ul class="dash">
                <li>взрывчатые вещества, средства взрывания и&nbsp;предметы, ими
                    начиненные;</li>
                <li>сжатые и&nbsp;сжиженные газы;</li>
                <li>легковоспламеняющиеся жидкости;</li>
                <li>воспламеняющиеся твердые вещества;</li>
                <li>окисляющие вещества и&nbsp;органические перекиси;</li>
                <li>токсичные вещества;</li>
                <li>радиоактивные материалы;</li>
                <li>едкие и&nbsp;коррозирующие вещества;</li>
                <li>ядовитые и&nbsp;отравляющие вещества;</li>
                <li>оружие (за&nbsp;исключением случаев и&nbsp;в&nbsp;порядке,
                    установленном законодательством Российской Федерации).</li>
            </ul>
            <p>Предметы, которые могут быть использованы в&nbsp;качестве орудия
                нападения (топор, пила, ледоруб, арбалет, пневматическое оружие,
                ружье для подводной охоты и&nbsp;т.п.),&nbsp;перевозятся только
                в&nbsp;багаже.</p>
            <h4>НЕВОЗДУШНАЯ ПЕРЕВОЗКА И/ИЛИ&nbsp;УСЛУГА</h4>
            <p>В&nbsp;случае оформления данного билета на&nbsp;невоздушную
                перевозку или услугу могут применяться особые положения
                и&nbsp;условия.</p>
            <p>Текст таких положений и&nbsp;условий может включаться
                в&nbsp;билетный комплект или может быть получен у&nbsp;оформляющей
                компании или агента.</p>
            <h4>УВЕДОМЛЕНИЕ ОБ&nbsp;ОГРАНИЧЕНИИ ОТВЕТСТВЕННОСТИ</h4>
            <p>К&nbsp;перевозке могут применяться положения Монреальской
                конвенции или Варшавской конвенции, и&nbsp;этими конвенциями
                определяется и&nbsp;может ограничиваться ответственность
                авиаперевозчиков за&nbsp;смерть или&nbsp;причинение вреда здоровью
                пассажира, утрату, повреждение или задержку багажа.</p>
            <p>В&nbsp;случае применения положений Монреальской конвенции
                установлены следующие пределы ответственности:</p>
            <ol>
                <li>В&nbsp;отношении смерти или причинения вреда здоровью пассажира
                    никаких финансовых ограничений ответственности
                    не&nbsp;установлено.</li>
                <li>В&nbsp;отношении уничтожения, утраты, повреждения или задержки
                    багажа в&nbsp;большинстве случаев установлена ответственность
                    в&nbsp;размере 1000 Специальных Прав Заимствования (приблизительно
                    1200 евро или 1470 долларов США) на&nbsp;одного пассажира.</li>
                <li>В&nbsp;отношении ущерба, вызванного задержкой рейса,
                    в&nbsp;большинстве случаев установлена ответственность&nbsp;в
                    размере 4150 Специальных Прав Заимствования (приблизительно 5000
                    евро или 6000 долларов США) на&nbsp;одного пассажира.</li>
            </ol>
            <p>Директива ЕС&nbsp;№ 889/2002 предписывает перевозчикам
                Европейского сообщества применять положения Монреальской конвенции
                об&nbsp;ограничении ответственности ко&nbsp;всем воздушным
                перевозкам пассажиров и&nbsp;багажа, выполняемым этими
                перевозчиками. Многие перевозчики, не&nbsp;принадлежащие
                к&nbsp;Европейскому сообществу, решили поступать точно так&nbsp;же
                в&nbsp;отношении выполняемых ими перевозок пассажиров
                и&nbsp;багажа.</p>
            <p>В&nbsp;случае применения положений Варшавской конвенции
                установлены следующие пределы ответственности:</p>
            <ol>
                <li>16&nbsp;600 Специальных Прав Заимствования (приблизительно
                    20&nbsp;000 евро или 20&nbsp;000 долларов США) в&nbsp;отношении
                    смерти или повреждения здоровья пассажира, если применяется
                    Гаагский протокол к&nbsp;Варшавской конвенции, или 8300 Специальных
                    Прав Заимствования (приблизительно 10&nbsp;000 евро или 10&nbsp;000
                    долларов США), если применяется только Варшавская конвенция. Многие
                    перевозчики добровольно отказались от&nbsp;соблюдения этих пределов
                    ответственности,&nbsp;а, согласно законам США, для перевозок
                    в/из&nbsp;США или перевозок с&nbsp;согласованным пунктом остановки
                    в&nbsp;США этот предел ответственности не&nbsp;может быть меньше
                    75&nbsp;000 долларов&nbsp;США.</li>
                <li>17&nbsp;Специальных Прав Заимствования (приблизительно
                    20&nbsp;евро или 20&nbsp;долларов США) за&nbsp;килограмм
                    утраченного, поврежденного или задержанного зарегистрированного
                    багажа и&nbsp;332 Специальных Права Заимствования (приблизительно
                    400 евро или 400 долларов США) в&nbsp;отношении
                    незарегистрированного багажа.</li>
                <li>Перевозчик может также нести ответственность за ущерб,
                    причиненный в&nbsp;результате задержки рейса.</li>
            </ol>
            <p>Дополнительную информацию о&nbsp;пределах ответственности,
                применяемых к&nbsp;перевозке, Вы&nbsp;можете получить&nbsp;у
                перевозчика. Если перевозка выполняется несколькими перевозчиками,
                то&nbsp;для получения информации&nbsp;о применяемых пределах
                ответственности Вам следует обращаться к&nbsp;каждому перевозчику
                отдельно.</p>
            <p>Независимо от&nbsp;того, какая конвенция применяется
                к&nbsp;перевозке, Вы&nbsp;можете воспользоваться возможностью
                повышения предела ответственности перевозчика за&nbsp;утрату,
                повреждение или задержку багажа, сделав&nbsp;при регистрации
                на&nbsp;рейс специальное заявление о&nbsp;стоимости Вашего багажа
                и&nbsp;уплатив дополнительный сбор, если таковой установлен. Как
                вариант, если стоимость Вашего багажа превышает применяемый предел
                ответственности, Вы&nbsp;можете полностью застраховать его
                до&nbsp;начала поездки.</p>
            <p>Срок рассмотрения исков: любой судебный иск о&nbsp;взыскании
                ущерба должен подаваться в&nbsp;течение двух лет со&nbsp;дня
                прибытия воздушного судна в&nbsp;пункт назначения или с&nbsp;того
                дня, когда оно должно было прибыть в пункт назначения.
                Претензии&nbsp;по багажу: в&nbsp;случае повреждения багажа
                письменное заявление должно быть подано перевозчику в&nbsp;течение
                7&nbsp;дней с&nbsp;момента получения зарегистрированного багажа,
                а&nbsp;в&nbsp;случае его задержки&nbsp;— в&nbsp;течение 21&nbsp;дня
                с&nbsp;даты его передачи в&nbsp;распоряжение пассажира.</p>
            <p><noindex></noindex></p>
            <div class="unit fileinfo pdf">
                <a target="_blank" rel="nofollow" href="/media/docs/transportation-conditions/transportation-conditions.pdf">Оригинал документа</a>
                <span>140 КБ</span>
            </div>

        </section>
    </div>
</div>
