<label class="formInput formInput_type_line {{#if state}}formInput__state_show_{{ state }}{{/if}} formInput_type_{{ type }}">

    <span class="formInput__field">
        <input 

            {{#if_eq type "tel"}}
                class="formInput__phone" 
            {{else}}
                class="formInput__input" 
            {{/if_eq}}

            type="{{ type }}"

            {{#if_eq type "date"}}
                min="{{ min }}"
                max="{{ max }}"
                onblur="if(this.value.length){this.className='formInput__input formInput__input_without_placeholder'}else{this.className='formInput__input'}" 
            {{/if_eq}} 

            {{#if_eq type "tel"}}
                min="10" max="18" 
                pattern=".{10,18}" 
                minlength="10" maxlength="18" 
                onblur="if(this.value.length){this.className='formInput__phone formInput__phone_show_plus'}else{this.className='formInput__phone'}"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            {{/if_eq}} 

            {{#if placeholder}} placeholder="{{ placeholder }}"{{/if}}
            {{#if value}}       value="{{ value }}"{{/if}}
            {{#if name}}        name="{{ name }}"{{/if}}
            {{#if id}}          id="{{ id }}"{{/if}} 
        />
        {{#if_eq type "date"}}
            {{#unless value}}
                <span class="formInput__placeholder">{{ placeholder }}</span>
            {{/unless}} 
        {{/if_eq}} 

        {{#if_eq type "tel"}}
            <span class="formInput__phonePlus">+</span>
        {{/if_eq}} 
    </span>
    <ul class="formInput__state">
        <li class="formInput__state_airport"></li>
        <li class="formInput__state_error"></li>
        <li class="formInput__state_success"></li>
        <li class="formInput__state_loading"></li>
    </ul>
</label>
