<ul class="contentList contentList_type_mini">
    <li class="contentList__item">
        <b class="contentList__itemContent">
            <span class="contentList__itemContentLabel">Нажимая «Далее», вы&nbsp;соглашаетесь&nbsp;с</span>
        </b>
    </li>
    <li class="contentList__item">
        <a href="{{ hrefConditions }}" class="contentList__itemContent contentList__itemContent_type_slotLink">
            <span class="contentList__itemContentLabel">условиями обмена и&nbsp;возврата билетов</span>
        </a>
    </li>
    <li class="contentList__item">
        <a href="{{ hrefOffer }}" class="contentList__itemContent contentList__itemContent_type_slotLink">
            <span class="contentList__itemContentLabel">договором-офертой</span>
        </a>
    </li>
</ul>
