<div class="layoutPage">
    <div class="layoutContent__row layoutContent__row_type_person">

        <ul class="personInfoList">
            <li class="personInfoList__item">
                <span class="personInfoList__itemLabel">пассажир</span>
                <p class="personInfoList__itemValue personInfoList__itemValue_name personInfoList__item_icon_type_{{ type }}">
                    <span class="personInfoList__itemValueText">{{ typeName }}</span>
                </p>
            </li>
        </ul>

    </div>

    <div class="passengerFormWrapper"></div>
    <div class="validatorForm__passenger"></div>
</div>

