<div class="layoutPage">
    <h1 class="layoutPage__title layoutPage__title_type_padding">Оплатить позже</h1>
    <div class="layoutContent__row layoutContent__row_type_payLater">
        {{#if showContent}}
            <div class="layoutContent__rowItem">
                Вы&nbsp;можете оплатить заказ в&nbsp;любой момент до<b class="layoutContent__rowItemDate">&nbsp;{{currentTime}}
                (по&nbsp;московскому времени) {{currentDate}}</b>, открыв его 
                с&nbsp;любого компьютера, смартфона или планшета. Чтобы получить 
                доступ к&nbsp;заказу, перейдите по&nbsp;ссылке в&nbsp;письме, 
                авторизуйтесь в&nbsp;личном кабинете или заполните форму поиска 
                заказа на&nbsp;главной странице.
            </div>

            <div class="layoutContent__rowItem layoutContent__row_type_timer">

                <div class="timelimitContent timelimitContent_type_context">
                    <div class="timelimitContent__warning">Осталось</div>
                    <div class="timelimitContent__clock"></div>
                    <div class="timelimitContent__countdown">
                        {{#if_eq leftDate.days 0}}{{else}}
                            <span class="timelimitContent__countdown__number">{{leftDate.days}}</span>
                            <span class="timelimitContent__countdown__letter">д</span>
                        {{/if_eq}}
                        {{#if_eq leftDate.hours 0}}{{else}}
                            {{#if_eq leftDate.days 0}}{{else}}
                                <span class="timelimitContent__countdown__colon">:</span>
                            {{/if_eq}}
                            <span class="timelimitContent__countdown__number">{{leftDate.hours}}</span>
                            <span class="timelimitContent__countdown__letter">ч</span>
                        {{/if_eq}}
                        {{#if_eq leftDate.minutes 0}}{{else}}
                            <span class="timelimitContent__countdown__colon">:</span>
                            <span class="timelimitContent__countdown__number">{{leftDate.minutes}}</span>
                            <span class="timelimitContent__countdown__letter">мин</span>
                        {{/if_eq}}
                    </div>
                </div>

            </div>

        {{else}}
            <div class="layoutContent__rowItem">Время истекло</div>
        {{/if}}
    </div>

</div>
