<div class="layoutPage">
    <h1 class="layoutPage__title layoutPage__title_type_padding">{{ header }}</h1>
    <div class="layoutContent__row layoutContent__row_type_payment">
        <div class="layoutContent__rowItem">{{{ explainingText }}}</div>
    </div>

    <div class="layoutContent__row layoutContent__row_type_ticket">
        <div class="layoutContent__rowItem">
            <div class="paymentTicket">
                <div class="paymentTicket__content">
                    <img class="paymentTicket__barcode" src="{{ barcodeSource }}">

                    <span class="paymentTicket__euroset"></span>
                    <div class="paymentTicket__row">
                        <span class="paymentTicket__rowLabel">Код для оплаты<sup class="paymentTicket__noteMarker">*</sup></span>
                        <span class="paymentTicket__rowValue">{{ paymentCode }}</span>
                    </div>
                    <div class="paymentTicket__row">
                        <span class="paymentTicket__rowLabel">Сумма к оплате</span>
                        <span class="paymentTicket__rowValue">
                            <span class="priceRub priceRub_type_big">
                                <span class="priceRub__el">{{ totalPrice }}</span><span class="priceRub__rub">p</span>
                            </span>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="layoutContent__row layoutContent__row_type_payment">
        <div class="layoutContent__rowItem">{{{ supportServiceSignature }}}</div>
    </div>

    <div class="footerMenuButtons"><div class="footerMenuButtons__wrapper">
        <a href="tel:8 800 50-50-797" class="footerMenuButtons__item footerMenuButtons__item_type_phone">
            <span class="footerMenuButtons__itemText">Cлужба поддержки</span>
            <span class="footerMenuButtons__itemText">8 800 50-50-797</span>
        </a>
        <div class="footerMenuButtons__border"></div>
    </div></div>

    <p class="footNote"><sup class="footNote__marker">*</sup>{{{ note }}}</p>
</div>
