<div class="layoutPage">
    <div class="layoutContent__row segmentsList headerSegment__flight_type_multi">
        <ul class="segmentList">

            {{#each items}}
                <li class="segmentList__item">
                    <h2 class="segmentList__itemHeader">
                        <span class="segmentList__itemHeaderEl segmentList__itemHeaderEl_startPoint">{{ startPointCity }}</span>
                        <span class="segmentList__itemHeaderEl segmentList__itemHeaderEl_endPoint">{{ endPointCity }}</span>
                    </h2>
                    <h3 class="segmentList__itemHeaderCode">
                        <span class="segmentList__itemHeaderCodeEl">{{ startCodeCity }}</span> – <span class="segmentList__itemHeaderCodeEl endCodeCity">{{ endCodeCity }}</span>
                    </h3>

                    <div class="segmentList__itemLeg">
                        <ul class="legList">

                            {{#each legs}}
                                <li class="legList__item">
                                    <div class="leg">

                                        <ul class="leg__connection {{#if connectionState }} leg__connection_show_{{ connectionState }} {{/if}}">
                                            <li class="leg__connectionItem leg__connectionItem_type_airport">пересадка {{#if connectionTime }} <span class="leg__connectionTime">{{ connectionTimeStr }}</span> {{/if}} со сменой аэропорта</li>
                                            <li class="leg__connectionItem leg__connectionItem_type_terminal">пересадка {{#if connectionTime }}  <span class="leg__connectionTime">{{ connectionTimeStr }}</span>{{/if}} со сменой терминала</li>
                                            <li class="leg__connectionItem leg__connectionItem_type_short">пересадка {{#if connectionTime }}  <span class="leg__connectionTime">{{ connectionTimeStr }}</span>{{/if}}</li>
                                            <li class="leg__connectionItem leg__connectionItem_type_night">ночная пересадка {{#if connectionTime }} <span class="leg__connectionTime">{{ connectionTimeStr }}</span>{{/if}}</li>
                                            <li class="leg__connectionItem">пересадка {{#if connectionTime }}  <span class="leg__connectionTime">{{ connectionTimeStr }}</span>{{/if}}</li>
                                        </ul>

                                        <div class="leg__flight">
                                            {{#if logo}}
                                                <img class="leg__flightLogo" src="data:image/gif;base64,R0lGODlhOQAgANUAAAAAAP///+kcHuxKTO1hY+91d/CHifKdn/Str/jb3PS+wfbP0fjn6Pnu7/r09Z87Yfr4+aB2nKWCqPDw9vr6/Pz8/be52KOmzb/C3c7R5tze7ebp8+7z+vv9//3////49//8/P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACEALAAAAAA5ACAAAAb/wJBwSCwaj8ikcslsOp/QqHRKrVqv2Kx2y+16v+CweEzGbiySR+SiEUIOgwOCsFgQCgpDYVEgKIoGBnZ+Dgd4BgQHDR0hBQZFFSEYFxkEAgkcFxtCBwIMCQKKoQwKBRACBEUIqCEDniEGCSGWDkKrqUORFxYhH6whGbytA3MHHZ2IDBAKAn9DCnACFAYCCwh/DQIFQtCuDUQXGLYCCAwMGxchoAYNAwOzAwkHCw4FAt8M6nSWDLcI3M302bk0BIOwVnfooANBbQEoAuuWEWCASmICPAuoIViAikIICJYaXFSQkZwQdJFgDShADBiGjAUQHDggr4Acmwhw2jxggEEDckOxCuQLUcoANHY/bQphY2sAgZYhmJYpgk4INQEDFpxMN7XIAgUIXGlb4DNqm65EwPJ0h0BmAoNoi2DYFIIBAQK1MqTzGFeIhQxDHChoYOEChZR9Q6CbIMSDhl0hECcO8fiCZQub+E7ezLmz58+gQx8JAgA7" />
                                            {{/if}}
                                            <span class="leg__flightNumber">Рейс <b class="leg__flightNumberText">{{ flightCodeNumber }}</b></span>{{#if showСarrierState }}<span class="leg__flightCompany">, перевозчик <b class="leg__flightCompanyText">{{ oCompany }}</b></span>{{/if}}
                                            <div class="leg__flightVehicle">{{ vehicleType }}</div>
                                        </div>

                                        <div class="leg__item leg__item_type_start">
                                            <div class="leg__itemInfo">
                                                <div class="leg__itemInfoWrap">
                                                    <div class="leg__itemTime">{{ startTime }}</div>
                                                    <span class="leg__itemInfoTime {{#if startDaysPassed }} leg__itemInfoTime_paint {{/if}}">
                                                        <span class="leg__itemInfoTimeText">{{ startDate }}</span><span class="leg__itemInfoTimeDayPassed startDaysPassed">{{ startDaysPassed }}</span>
                                                    </span>
                                                    <span class="leg__itemInfoAirport">{{ startAirport }}</span>
                                                </div>
                                                <span class="leg__itemInfoTerminal">
                                                    <span class="leg__itemInfoTerminalText">{{ startTerminal }}</span>
                                                </span>
                                                <span class="leg__itemInfoDuration">
                                                    <span class="leg__itemInfoDurationText">{{ duration }}</span>
                                                    в пути
                                                    <div class="leg__itemInfoDurationText">{{ landingState }}</div>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="leg__item leg__item_type_end">
                                            <div class="leg__itemInfo">
                                                <div class="leg__itemInfoWrap">
                                                    <div class="leg__itemTime">{{ endTime }}</div>
                                                    <span class="leg__itemInfoTime {{#if endDaysPassed }} leg__itemInfoTime_paint {{/if}}">
                                                        <span class="leg__itemInfoTimeText">{{ endDate }}</span><span class="leg__itemInfoTimeDayPassed endDaysPassed">{{ endDaysPassed }}</span>
                                                    </span>
                                                    <span class="leg__itemInfoAirport">{{ endAirport }}</span>
                                                </div>
                                                <span class="leg__itemInfoTerminal">
                                                    <span class="leg__itemInfoTerminalText">{{ endTerminal }}</span>
                                                </span>
                                          </div>
                                       </div>

                                    </div>
                                </li>
                            {{/each}}

                        </ul>
                    </div>
                </li>
            {{/each}}

        </ul>
    </div>
</div>
