<div></div>
<!-- <form>
    <div class="layoutContent__row">
        <div class="layoutContent">
            <div class="layoutContent__header">
                <h2 class="layoutContent__headerText">Покупатель</h2>
            </div>
            <div class="contentList__collection">

                <ul class="contentList contentList_type_form">
                    <li class="contentList__item">
                        {{include "formInput" type="text" placeholder="E-mail" name="email" }}
                    </li>
                    <li class="contentList__item">
                        {{include "formInput" type="tel" placeholder="Телефон" name="phoneNumber" }}
                    </li>
                </ul>

                <br /><input type="submit" value="Валидация" /><br /><br />

            </div>
        </div>

        <div class="validatorForm__offerCustomer"></div>
    </div>
</form> -->
