<div class="redirectToPayment">
    <section class="layoutPage__loader layoutPage__loader_type_redirectToPayment">
        <div class="layoutPage__header">
            <div class="layoutPage__headerLogo"><b class="headerLogo"></b></div>
        </div>
        <div class="preloader__animation">
            <p class="preloader__animationText">{{ message }}</p>
            <span class="preloader__animationPlane"></span>
            <span class="preloader__animationLandscapeItem preloader__animationLandscapeItem_type_moon"></span>
            <span class="preloader__animationLandscapeItem preloader__animationLandscapeItem_type_bigStar"></span>
            <span class="preloader__animationLandscapeItem preloader__animationLandscapeItem_type_bigCloud"></span>
            <span class="preloader__animationLandscapeItem preloader__animationLandscapeItem_type_smallCloud"></span>
            <span class="preloader__animationLandscapeItem preloader__animationLandscapeItem_type_smallStar"></span>
        </div>
    </section>
</div>
